* text=auto !eol
*.tsx text eol=lf encoding=utf-8
*.ts text eol=lf encoding=utf-8
*.scss text eol=lf encoding=utf-8
*.html text eol=lf encoding=utf-8
*.yml text eol=lf encoding=utf-8
*.yaml text eol=lf encoding=utf-8
*.md text eol=lf encoding=utf-8
*.json text eol=lf encoding=utf-8
*.lock text eol=lf encoding=utf-8
*.webmanifest text eol=lf encoding=utf-8
LICENSE text eol=lf encoding=utf-8
.firebaserc text eol=lf encoding=utf-8
.gitignore text eol=lf encoding=utf-8
.gitattributes text eol=lf encoding=utf-8
