---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Blog" desc="" class="blog">
    <h1 class="text-5xl font-semibold tracking-tight surround-h1">Blog</h1>
    <ul class="mt-8 space-y-4 list-disc list-outside pl-4">
        {
            [
                {
                    title: "Gedankenstrich",
                    href: "/blog/gedankenstrich",
                },
                {
                    title: "Writing a Thesis",
                    href: "/blog/writing_a_thesis",
                },
            ].map(({ title, href }) => (
                <li>
                    <a class="underline" href={href}>
                        {title}
                    </a>
                </li>
            ))
        }
    </ul>
</Layout>
