---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Blog" desc="" class="blog">
    <h1 class="text-5xl font-semibold tracking-tight surround-h1">Blog</h1>
    <ul>
        <li>
            <a href="/blog/writing_a_thesis">Writing a Thesis</a>
        </li>
    </ul>
</Layout>
