---
import Layout from "../../layouts/Layout.astro";
import "../../styles/blog.scss";
---

<Layout
    title="Writing a thesis"
    desc="Wie man nicht verrückt wird, beim Schreiben der ersten Thesis"
    class="blog"
    lang="de"
>
    <h1>Writing a Thesis</h1>

    <p class="my-8">
        <a href="/blog/writing_a_thesis_en"
            >English version (translated by Gemini 2.5 Pro)</a
        >
    </p>

    <p class="mt-4 mb-8 text-xl">
        Wie man nicht verrückt wird, beim Schreiben der ersten Thesis.
    </p>

    <h2 class="text-2xl font-semibold tracking-tight surround-h2">Typst</h2>
    <p>Ich rate sowohl von LaTeX, als auch von MS Word ab.</p>
    <p>
        Du solltest dich auf den Inhalt konzentrieren können und nicht vom Tool
        abgelenkt werden.
    </p>
    <p>
        LaTeX kann sehr komplex werden, egal wie einfach die Anforderungen sind.
        Es kompiliert sehr langsam und benötigt mehrere Kompilierungsschritte,
        um ein Dokument zu erstellen. Wer unbedingt LaTeX verwenden will, sollte
        <a href="https://de.overleaf.com/">Overleaf</a> oder <a
            href="https://www.texifier.com/">texifier</a
        > verwenden.
    </p>
    <p>
        Word ist zwar einfach zu verwenden, aber das Layout über das gesamte
        Dokument konsistent zu halten ist eine Herausforderung. Auch einfachere
        Formate wie Markdown sind eher unpraktisch, da ihnen die nötigen
        Features fehlen.
    </p>
    <br />
    <p>
        Ich habe mit <a href="https://typst.app/docs/">Typst</a> sehr gute Erfahrungen
        gemacht. Die Syntax ist an Markdown angelehnt, so dass es einfach zu lernen
        ist. Es gibt aber wesentlich mehr Features, die man für eine wissenschaftliche
        Arbeit braucht. Dies sind:
    </p>
    <ul>
        <li>Mathematische Formeln</li>
        <li>Abbildungen (Grafiken, Diagramme, Tabellen, ect.) mit Captions</li>
        <li>Code-Blöcke</li>
        <li>Zitate mit automatischer Nummerierung und Quellenverzeichnis</li>
    </ul>
    <br />
    <p>
        Auch wenn ich es selbst noch nicht ausprobiert habe, könnte <a
            href="https://orgmode.org/">Org-Mode</a
        >
        eine geeignete Alternative sein.
    </p>

    <h2 class="text-2xl font-semibold tracking-tight surround-h2">Thema</h2>
    <p>
        Wähle dein Thema nicht zu weit im Voraus aus, sonst hast du kein Bock
        mehr darauf, bis du mit der Bearbeitung anfängst. Mache dir Gedanken um
        den Umfang. Die vier Monate der Bearbeitung sind eine ungewöhnliche
        Zeitspanne, weder richtig kurz noch richtig lang.
    </p>
    <p>
        Bedenke auch, dass die wissenschaftliche Arbeitsweise viel Zeit in
        Anspruch nimmt. Es muss bei allem klar sein, woher Informationen kommen,
        wie man deine Ergebnisse nachstellen kann, ect. Du brauchst für alles
        beweise und kannst nichts einfach so behaupten.
    </p>

    <h2 class="text-2xl font-semibold tracking-tight surround-h2">Betreuung</h2>
    <p>
        Egal ob Professor an der Hochschule oder Kollege in der Firma. Suche dir
        Betreuer, mit denen du dich gut verstehst. Kläre vorher ab, was die
        Anforderungen an dich und deine Arbeit sind.
    </p>
    <p>
        Es ist wichtiger, dass deine Betreuer zu dir passen als zu deiner
        Arbeit.
    </p>
    <p>
        Frage deinen Betreuer an der Hochschule auch nach seinem
        Bewertungssystem, damit du dich daran orientieren kannst. Du schreibst
        deine Arbeit nicht für dein persönliches Wachstum oder eine Bereicherung
        der Welt, sondern für den Betreuer, der dich bewertet.
    </p>

    <h2 class="text-2xl font-semibold tracking-tight surround-h2">
        Schreibstil
    </h2>
    <p>
        Eine Thesis schreibt man anders als andere Texte. Wissenschaftliche
        Ausdrucksweise ist ungewohnt. LLMs können dabei helfen, deine
        Ausdrucksweise wissenschaftlich zu gestalten.
    </p>
    <p>
        Achte dabei darauf, dass deine gesamte Thesis konsistent bleibt. Wenn du
        Kapitel getrennt voneinander durch LLMs überarbeiten lässt, kann es
        schnell so wirken, als wäre jedes Kapitel von einer anderen Person
        geschrieben.
    </p>
    <p>
        <a href="https://youtu.be/gWvgcPf3X6o"
            >Dieses Video von Andy Stapleton</a
        > zeigt, wie man LLMs nutzen kann um Texte zu schreiben, ohne dass es offensichtlich
        nach KI aussieht.
    </p>
</Layout>
