---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Writing a thesis"
    desc="How not to go crazy writing your first thesis"
    class="blog"
>
    <h1 class="text-5xl font-semibold tracking-tight surround-h1">
        Writing a Thesis
    </h1>

    <p class="my-8">
        <a href="/blog/writing_a_thesis">Deutsche Version (original)</a>
    </p>

    <p class="mt-4 mb-8 text-xl">
        How not to go crazy writing your first thesis.
    </p>

    <h2 class="text-2xl font-semibold tracking-tight surround-h2">Typst</h2>
    <p>I advise against both LaTeX and MS Word.</p>
    <p>
        You should be able to concentrate on the content and not be distracted
        by the tool.
    </p>
    <p>
        LaTeX can become very complex, no matter how simple the requirements
        are. It compiles very slowly and requires multiple compilation steps to
        create a document. Anyone who absolutely wants to use LaTeX should use
        <a href="https://de.overleaf.com/">Overleaf</a> or <a
            href="https://www.texifier.com/">texifier</a
        >.
    </p>
    <p>
        While Word is easy to use, keeping the layout consistent throughout the
        entire document is a challenge. Simpler formats like Markdown are also
        rather impractical, as they lack the necessary features.
    </p>
    <br />
    <p>
        I've had very good experiences with <a href="https://typst.app/docs/"
            >Typst</a
        >. The syntax is based on Markdown, so it's easy to learn. However, it
        has many more features that you need for a scientific paper. These are:
    </p>
    <ul>
        <li>Mathematical formulas</li>
        <li>Figures (graphics, diagrams, tables, etc.) with captions</li>
        <li>Code blocks</li>
        <li>Citations with automatic numbering and bibliography</li>
    </ul>
    <br />
    <p>
        Although I haven't tried it myself, <a href="https://orgmode.org/"
            >Org-Mode</a
        >
        could be a suitable alternative.
    </p>

    <h2 class="text-2xl font-semibold tracking-tight surround-h2">Topic</h2>
    <p>
        Don't choose your topic too far in advance, or you'll lose interest in
        it by the time you start working on it. Think about the scope. The four
        months of work is an unusual period of time, neither really short nor
        really long.
    </p>
    <p>
        Also, keep in mind that the scientific way of working takes a lot of
        time. It must be clear for everything where information comes from, how
        your results can be reproduced, etc. You need evidence for everything
        and can't just claim things.
    </p>

    <h2 class="text-2xl font-semibold tracking-tight surround-h2">
        Supervision
    </h2>
    <p>
        Whether it's a professor at the university or a colleague at the
        company. Find supervisors with whom you get along well. Clarify in
        advance what the requirements are for you and your work.
    </p>
    <p>
        It's more important that your supervisors are a good fit for you than
        for your work.
    </p>
    <p>
        Also, ask your university supervisor about their grading system so you
        can align with it. You are not writing your thesis for your personal
        growth or to enrich the world, but for the supervisor who grades you.
    </p>

    <h2 class="text-2xl font-semibold tracking-tight surround-h2">
        Writing Style
    </h2>
    <p>
        A thesis is written differently than other texts. The scientific style
        of expression is unfamiliar. LLMs can help you make your writing style
        more scientific.
    </p>
    <p>
        Make sure that your entire thesis remains consistent. If you have
        chapters revised separately by LLMs, it can quickly seem as if each
        chapter was written by a different person.
    </p>
    <p>
        <a href="https://youtu.be/gWvgcPf3X6o">This video by Andy Stapleton</a>
        shows how to use LLMs to write texts without it looking obviously AI-generated.
    </p>
</Layout>
