@font-face {
    font-family: "Circular";
    src: url("/fonts/Circular-Book.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "CircularTitle";
    src: url("/fonts/Circular-Title.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
