$timing: 250ms;

@mixin surround-with($name) {
    &::before {
        content: "<#{$name}>";
        margin-bottom: 0.5rem;
    }
    &::after {
        content: "</#{$name}>";
        margin-top: 0.5rem;
    }
    &::before,
    &::after {
        color: rgb(var(--color-secondary) / 100%);
        font-size: 0.75rem;
        line-height: 1;
        display: block;
        width: 100%;
        transform: translateX(-1rem);
        letter-spacing: 0.025em;
    }
    padding-left: 1rem;
}
