@keyframes blur_in {
  from {
    filter: blur(256px);
    opacity: 0;
  }

  to {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes blur_out {
  from {
    filter: blur(0);
  }

  to {
    filter: blur(256px);
  }
}

/*
  default blend mode is multiply. Set to normal to avoid effects we don't want.
*/
::view-transition-old(root),
::view-transition-new(root) {
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  animation: blur_out 500ms;
}

::view-transition-new(root) {
  animation: blur_in 500ms;
}
