$breakpoint: 400px;

@media screen and (min-width: #{$breakpoint}) {
    .avatar {
        float: right;
        margin-left: 4px;
        width: 256px;
        max-width: 45vw;
    }
}

@media screen and (max-width: #{$breakpoint - 1px}) {
    .page-wrapper__content {
        padding-top: 0 !important;
    }
    .avatar {
        width: 75vw;
        margin: 0 auto;
        display: block;
    }
}
