@use "theme"

.grid
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between

    > *
        width: 450px

    &__item
        display: flex
        flex-direction: column
        padding: 0.5rem 1rem

    &--big .grid__item, .grid__item--big
        align-items: flex-start !important
