@use "theme";

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  > * {
    width: 450px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &--big .grid__item,
  .grid__item--big {
    align-items: flex-start !important;
    text-align: left !important;
  }
  &:not(.grid--no-padding) {
    .grid__item {
      padding: 0.5rem 1rem;
    }
  }
}
