@use "theme";
@use "transition";
@use "scrollbar";
@use "sass:color";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    weight: 400;
}

@layer base {
    :root {
        color-scheme: dark;
        --color-background: 30 30 46; // Base
        --color-foreground: 205 214 244; // Text
        --color-primary: 203 166 247; // Mauve
        --color-secondary: 108 112 134; // Overlay0
        --color-inactive: 49 50 68; // Surface0
        --color-selection: 108 112 134; // Overlay0
    }

    @media (prefers-color-scheme: light) {
        :root {
            color-scheme: light;
            --color-background: 239 241 245; // Base
            --color-foreground: 76 79 105; // Text
            --color-primary: 136 57 239; // Mauve
            --color-secondary: 156 160 176; // Overlay0
            --color-inactive: 204 208 218; // Surface0
            --color-selection: 156 160 176; // Overlay0
        }
    }
}

body,
body::before,
body::after {
    font-family: "Monolisa", "Gintronic", "Dank Mono", "PragmataPro",
        "JetBrains Mono", "Cascadia Code", "Source Code Pro", "Fira Code",
        "DejaVu Sans Mono", "Hack", "Anonymous Pro", "Ubuntu Mono", monospace !important;
}

body,
body * {
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    shape-rendering:  crispEdges;
}

@media (prefers-color-scheme: light) {
    body {
        -webkit-font-smoothing: subpixel-antialiased;
    }
}

.surround-nav {
    @include theme.surround-with("nav");
}

@for $i from 1 through 3 {
    .surround-h#{$i} {
        @include theme.surround-with("h#{$i}");
        margin-top: #{3.5 - $i * 0.5}rem;
        margin-bottom: 0.5rem;
    }
}

::selection {
    background: rgb(var(--color-selection) / 100%);
}
