@use "reset"
@use "theme"

:root
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace
    background: theme.$color-background
    color: theme.$color-foreground

.page-wrapper
    max-width: 1000px
    margin: 0 auto
