@use "theme"

@media (min-width: 400px)
    .nav
        display: grid
        grid-auto-flow: column
        &__item
            display: block
            white-space: pre

@media (max-width: 400px)
    .nav
        display: grid
        grid-auto-flow: row
        &__item
            margin-left: theme.$tab-size
