@use "theme"
@use "sass:color"

.nav
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    margin: 1rem 0
    @include theme.surround-with("nav")

    &__item
        width: 10rem
        height: 2rem
