@use "../../styles/theme";

.xml-tag {
    &:not(.inline) {
        display: block;

        > .opening,
        > .closing,
        > .children {
            display: block;
        }
        > .children {
            margin-left: var(--tab-size);
        }
    }

    &.inline {
        display: inline-block;

        > .opening,
        > .closing,
        > .children {
            display: inline-block;
        }

        > .children {
            margin: {
                left: 0.25rem;
                right: 0.25rem;
            }
        }
    }

    width: 100%;
    margin: {
        top: 0.25rem;
        bottom: 0.25rem;
    }

    .opening,
    .closing {
        color: theme.$color-foreground-secondary !important;
        font-family: Caveat, monospace;
        width: fit-content;
        max-width: 100%;
        user-select: none;

        > * {
            display: inline-block;
        }
    }

    .children {
        &.script {
            opacity: 0.8;
        }
    }
}
