body.contact > main > form {
  display: flex;
  flex-direction: column;

  > label > span {
    opacity: 0.5 !important;
    margin-left: 1em;
  }

  > input,
  > textarea {
    background-color: $hover;
    border-radius: $border-radius;
    padding: #{$padding * 0.5} $padding;
    margin: {
      top: $padding;
      bottom: #{2 * $padding};
    }
  }

  > input[type="submit"] {
    padding: #{$padding * 2} $padding;
    cursor: pointer;
  }

  > input[type="email"],
  > input[type="text"],
  > textarea {
    font-family: $mono-font !important;
  }

  > textarea {
    resize: none;
    height: 20vh;
  }
}
