footer {
  position: sticky;
  top: 100vh;
  width: 100%;
  height: fit-content;
  margin: 20px auto 50px auto;
  padding: 0 20px;
  max-width: $main-width;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-content: center;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  > * {
    width: fit-content;
    text-transform: lowercase;
    text-decoration: none;
    font-size: $font-size !important;

    &:hover {
      color: $foreground-primary;
    }

    &:not(:hover) {
      color: $foreground-secondary;
    }
  }
}
