body {
  --theme-color-a: #{$foreground-primary};
  --theme-color-b: #{$foreground-primary};
}

@mixin page-color($color-a, $color-b) {
  --theme-color-a: #{$color-a} !important;
  --theme-color-b: #{$color-b} !important;
}

body.info {
  @include page-color($pink, $red);
}
body.portfolio {
  @include page-color($cyan, $green);
}
body.links {
  @include page-color($yellow, $orange);
}
body.contact {
  @include page-color($green, $yellow);
}
