@use "sass:math";
@use "desktoptheme";
@use "../theme";

nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  padding: {
    left: max(3.5rem, calc(50vw - #{math.div(desktoptheme.$page-width, 2)}));
    right: var(--page-space);
    top: 0.5rem;
    bottom: 0.5rem;
  }
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > a {
    &.home {
      position: fixed;
      top: 0.5rem;
      left: 0.5rem;
      color: transparent;
      background-image: url(/favicon.webp);
      background-size: 3rem 3rem;
      width: 3rem;
      height: 3rem;

      will-change: filter;
      transition: filter theme.$timing;

      &:hover {
        filter: drop-shadow(0 0 0.5rem theme.$foreground);
      }
    }

    &:not(.home) {
      padding: calc(9px + 0.5rem) 1rem 0.5rem 1rem;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 0.85rem;
      text-align: center;

      will-change: background-color;
      transition: background-color theme.$timing;

      // underline
      &::after {
        pointer-events: none;
        user-select: none;
        content: "";
        display: block;
        width: 2rem;
        height: 1px;
        background: theme.$foreground;
        margin: 8px auto 0 auto;
        opacity: 0;

        will-change: opacity;
        transition: opacity theme.$timing;
      }

      &.active {
        color: theme.$foreground;

        //   underline
        &::after {
          opacity: 1;
        }
      }

      &:not(.active) {
        color: theme.$foreground-secondary;
      }
    }
  }
}
