---
import Home from "../components/Home.astro";
import Portfolio from "../components/Portfolio.astro";
import Contact from "../components/Contact.astro";
import HashNavigation from "../components/HashNavigationScript.astro";
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout title="Frank Mayer" desc="Software engineer">
    <h1 id="home">
        Hey,<br />I'm Frank
        <p>I make reliable and highly performant software, even on low-end devices</p>
    </h1>

    <div class="cta card-wrapper">
        <Link
            class="cta__button card-wrapper__card card-wrapper__card--primary"
            href="/#contact"
            data-hash="contact"
        >
            <span class="card-wrapper__card__content">Contact me</span>
        </Link>
    </div>

    <Portfolio />
    <Home />
    <Contact />
    <HashNavigation />
</Layout>
