---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio" desc="Software Engineer">
    <div class="surround-h1">
        <img
            src="/img/me.webp"
            alt=""
            class="md:float-right md:w-60"
            decoding="async"
        />
        <h1 class="tracking-tight text-5xl font-semibold">
            Hey,<br />
             I'm Frank
        </h1>
        <p>
            I make reliable and highly performant software, even on low-end
            devices
        </p>
    </div>
    <section aria-labelledby="projects">
        <h2 id="projects" class="text-3xl font-semibold">Projects</h2>
        <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <li>
                <a
                    href="https://github.com/HHN-SEB-2022-23/allybi"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="block p-4 border-2 "
                >
                    <h3 class="text-xl font-semibold">
                        HHN-SEB-2022-23/Allybi
                    </h3>
                    <p>
                        Educational game for the anti discrimination
                        organization in Heilbronn
                    </p>
                </a>
            </li>
        </ul>
    </section>
</Layout>
