---
import P from "../components/P.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <h1 class="tag tag--title tag--multiline">
        Hey,<br />
        I'm&nbsp;Frank
    </h1>
    <P
        className="tag tag--paragraph"
        content="Let's get together and create the next great app."
    />
</Layout>
