---
import Layout from "../layouts/Layout.astro";

const contacts = [
    {
        title: "LinkedIn",
        username: "frank-mayer-dev",
        url: "https://www.linkedin.com/in/frank-mayer-dev/",
    },
    {
        title: "Discord",
        username: "tsukinoko_kun",
        url: "https://discord.com/users/383628783187394561",
    },
    {
        title: "Email",
        username: "f9rmywvth@mozmail.com",
        url: "mailto:f9rmywvth@mozmail.com",
    },
    {
        title: "GitHub",
        username: "tsukinoko-kun",
        url: "https://github.com/tsukinoko-kun",
    },
    {
        title: "Calendar",
        username: "frankmayer.dev/calendar",
        url: "https://frankmayer.dev/calendar",
    },
];
---

<Layout title="Contact" desc="Various ways to contact me">
    <h1 class="text-5xl font-semibold tracking-tight surround-h1">Contact</h1>
    {
        contacts.map((contact) => (
            <p class="mb-4">
                <span>{contact.title}:</span>
                <a
                    class="block ml-4 underline hover:text-ctp-mauve"
                    href={contact.url}
                >
                    {contact.username}
                </a>
            </p>
        ))
    }
</Layout>
