---
import Layout from "../layouts/Layout.astro";
import QRCode from "../components/QRCode.astro";
---

<Layout
    lang="de"
    title="Mentoring"
    desc="Persönliche Unterstützung für dein Wachstum"
>
    <h1 class="text-5xl font-semibold tracking-tight surround-h1">Mentoring</h1>

    <details class="mt-4 mb-8">
        <summary class="text-pretty cursor-pointer w-fit"
            >QR-Code zu dieser Seite</summary
        >
        <QRCode
            text="https://frankmayer.dev/mentoring"
            class="aspect-square max-w-96"
        />
    </details>

    <h2 class="text-3xl font-semibold surround-h2">Was ist Mentoring?</h2>
    <p class="text-pretty my-4">
        Du bist Student, Azubi oder selbstständig lernender Softwareentwickler?
        In solchen Situationen ist es besonders wichtig jemanden zu haben, an
        dem man sich orientieren kann, mit dem man technische Unterhaltungen
        führen und sich austauschen kann.
    </p>
    <p class="text-pretty my-4">
        Der regelmäßige Austausch mit jemandem, der schon eine Weile in der
        Industrie unterwegs ist, in die du starten willst, kann dir einen
        entscheidenden Vorteil bieten.
    </p>
    <p class="text-pretty my-4">Ich nehme genau diese Rolle ein.</p>

    <h2 class="text-3xl font-semibold surround-h2">
        Wobei genau kann mir ein Mentor helfen?
    </h2>
    <p class="text-pretty my-4">
        Das kommt auf dich und den Mentor an. Was ich dir bieten kann:
    </p>
    <ul class="list-disc list-outside pl-6 mt-4 mb-8">
        {
            [
                "Wissenslücken herausfinden und schließen",
                "Unterstützung bei der Einarbeitung in neue Themen",
                "Kontakte zu anderen Softwareentwicklern und Firmen",
                "Einen Überblick über die aktuellen Trends und Technologien",
                "Einen Einblick in meinen Arbeitsalltag",
                "Anregungen für deine eigenen Projekte (Vorschläge, Code-Reviews, etc.)",
                "Karriereberatung",
            ].map((item) => <li class="text-balance">{item}</li>)
        }
    </ul>
    <p class="text-pretty my-4">
        Was du bei mir <b class="font-extrabold">nicht</b> bekommst:
    </p>
    <ul class="list-disc list-outside pl-6 mt-4 mb-8">
        {
            [
                "Hausaufgabenhilfe",
                "Jobvermittlung",
                "Ghostwriter für deine Bachelorarbeit",
            ].map((item) => <li>{item}</li>)
        }
    </ul>

    <h2 class="text-3xl font-semibold surround-h2">
        Was sind die Anforderungen?
    </h2>
    <ul class="list-disc list-outside pl-6 mt-4 mb-8">
        {
            [
                "Eigenmotivation",
                "Grundlagenwissen",
                "Zeit und Energie",
                "Wir müssen uns gut verstehen",
                <>
                    Du solltest in der Nähen von
                    <a
                        class="underline text-ctp-mauve width-fit inline"
                        href="https://www.google.com/maps/place/Heilbronn"
                    >{"Heilbronn"}</a>
                    wohnen
                </>,
            ].map((item) => <li>{item}</li>)
        }
    </ul>
    <p class="text-pretty">
        Deine Noten sind mir egal. Du solltest aber Grundlegendes im Bereich
        Softwareentwicklung beherrschen, ansonsten ist es egal wie viel du
        weißt. Ich will, dass du Motivation zeigst.
    </p>

    <h2 class="text-3xl font-semibold surround-h2">Bewerbung</h2>
    <p class="text-pretty my-4">
        Ich kann ab dem Dezember 2025 beginnen, davor bin ich mit Projekten
        ausgelastet. Meine Kapazität reicht für bis zu 4 Personen.
    </p>
    <p class="text-pretty my-4">
        Da ich nur wenige Leute gleichzeitig betreuen kann, musst du dich
        bewerben. Es gibt keine Warteliste. Du kannst dich jederzeit bewerben.
        Wenn ich das Gefühl habe, dass ich dir helfen kann, bekommst du
        einen Platz.
    </p>
    <p class="text-pretty my-4">
        Schreibe mir eine E-Mail an <a
            class="underline text-ctp-mauve"
            href="mailto:mentoring@frankmayer.dev?subject=Mentoring Bewerbung"
            >mentoring@frankmayer.dev</a
        >
        und gib dabei folgende Informationen an:
    </p>
    <ul class="list-disc list-outside pl-6 mt-4 mb-8">
        {
            [
                "Dein Vor- und Nachname",
                "Wie hast du Zeit? Ab wann willst du starten und an welchen Tagen hast du Zeit für ein Meeting?",
                "Bildungseinrichtung (falls vorhanden)",
                "Bisherige Erfahrungen und Projekte",
                "Warum willst du überhaupt Softwareentwicklung lernen?",
                "Warum willst du mit mir zusammenarbeiten? (optional, bitte nichts cringes schreiben)",
                "Was sind deine Interessengebiete? (innerhalb und außerhalb der Informatik)",
            ].map((item) => <li class="text-balance">{item}</li>)
        }
    </ul>
</Layout>
