@mixin button {
  padding: 10px 20px;
  font-size: $font-size;
  font-family: $default-font;
  text-decoration: none !important;
  color: $foreground-primary;
  border-radius: $border-radius;

  transition: background-color $timing ease-out, opacity $timing ease-out;

  &:focus:not(&:hover) {
    opacity: 0.5;
  }

  &:hover {
    opacity: 1;
    background-color: $hover;
  }
}

.button {
  @include button;
}
