@media all and (prefers-reduced-motion: no-preference) {
  body.cursor-enabled:hover {
    &::after {
      $cursor-size: 32px;
      content: "";
      z-index: 1000;
      position: fixed;
      pointer-events: none;
      background-color: transparent;
      border: none;
      border-radius: 50%;
      backdrop-filter: invert(1) hue-rotate(180deg);
      width: $cursor-size;
      height: $cursor-size;
      top: #{$cursor-size * -0.5};
      left: #{$cursor-size * -0.5};
      transition: transform #{$timing} ease-out,
        border-color #{$timing} ease-out;
      will-change: transform, border-color;
    }
    &:not(.cursor-active)::after {
      transform: translate(var(--x), var(--y)) scale(1) translateZ(0px);
    }
    &.cursor-active::after {
      transform: translate(var(--x), var(--y)) scale(2) translateZ(0px);
    }
  }
}
