header {
  $header-height: 60px;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  height: $header-height;

  > * {
    z-index: 2;
  }

  #home {
    background-image: url(../img/fav.webp);
    background-size: contain;
    left: $padding;
    font-size: 0 !important;
    color: none;
    text-decoration: none !important;
  }

  #translate {
    @include button;
    background-image: url(../img/translate.svg);
    background-position: #{$padding} #{$padding};
    background-size: calc(100% - #{$padding * 2}) calc(100% - #{$padding * 2});

    > ul {
      margin: 0 !important;
    }

    &:not(:hover) {
      > ul {
        display: none !important;
        overflow: hidden;
      }
    }

    &:hover {
      > ul {
        position: fixed;
        top: #{$header-height - $padding};
        right: 0;
        width: fit-content;
        max-width: calc(100vw - #{$padding * 2});
        background-color: $background;
        border: {
          width: $padding;
          style: solid;
          color: $background;
          radius: $border-radius;
        }
        display: flex;
        flex-direction: column;
        gap: 1px;

        > li {
          list-style: none;
          background-color: $hover;

          &:first-child {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
          }

          &:last-child {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
          }

          > a {
            padding: #{$padding * 0.5} $padding;
            line-height: #{$padding * 3};
            text-decoration: none;
            font-size: $font-size-small;

            &.active {
              color: var(--theme-color-a) !important;
              pointer-events: none;
            }

            &:not(.active) {
              &:hover {
                color: $foreground-primary;
              }

              &:not(:hover) {
                color: $foreground-secondary;
              }
            }
          }
        }
      }
    }
  }

  #home,
  #translate {
    width: #{$header-height - $padding * 2};
    height: #{$header-height - $padding * 2};
    right: $padding;
    position: fixed;
    top: $padding;
    background-repeat: no-repeat;
    background-position: center;
  }

  nav {
    $header-margin: max($header-height, calc(50vw - #{$main-width * 0.5}));

    position: fixed;
    top: 0;
    left: $header-margin;
    width: calc(100vw - #{$header-margin} * 2);
    height: $header-height;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    > a {
      text-transform: uppercase;
      font-size: $font-size-small !important;
      opacity: 1 !important;

      @include button;
    }
  }
}

body.info a[data-route="../info"],
body.portfolio a[data-route="../portfolio"],
body.links a[data-route="../links"],
body.contact a[data-route="../contact"] {
  color: $foreground-primary !important;
  background-color: transparent !important;
  pointer-events: none !important;

  &:after {
    $underline-width: 20px;
    content: "";
    height: 1px;
    width: $underline-width;
    background-color: $foreground-primary;
    position: absolute;
    bottom: 0.5em;
    left: calc(50% - #{$underline-width * 0.5});
  }
}
