header {
  $header-height: 60px;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  height: $header-height;
  background-color: $background;

  > * {
    z-index: 2;
  }

  #home {
    width: #{$header-height - $padding * 2};
    height: #{$header-height - $padding * 2};
    position: fixed;
    top: $padding;
    left: $padding;
    background-image: url(../img/fav.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  nav {
    $header-margin: max($header-height, calc(50vw - #{$main-width * 0.5}));

    position: fixed;
    top: 0;
    left: $header-margin;
    width: calc(100vw - #{$header-margin} * 2);
    height: $header-height;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    > a {
      text-transform: uppercase;
      font-size: $font-size-small !important;

      &:hover {
        color: $foreground-primary;
      }

      &:not(:hover) {
        color: $foreground-secondary;
      }
    }
  }
}
