main {
  img.landscape {
    width: #{$main-width - $padding * 4};
    height: auto;
    margin: $padding 0;
  }

  img.portrait {
    height: calc(50vh - #{$padding * 2});
    width: auto;
    text-align: center;
    margin: $padding 0;
  }
}
