main {
  height: max-content !important;

  img {
    margin: #{$padding * 2} auto !important;
    display: block;

    &.landscape {
      width: #{$main-width - $padding * 4};
      height: auto;
    }
    &.portrait {
      height: calc(50vh - #{$padding * 2});
      width: auto;
    }
  }
}
