@media all and (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

@media all and (prefers-contrast: less) {
  body {
    filter: contrast(0.75) !important;
  }
}

@media all and (prefers-contrast: more) {
  body {
    filter: contrast(1.25) !important;
  }
}
