#cookies-banner.hidden {
  display: none;
  visibility: collapse;
}

#cookies-banner:not(.hidden) {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 0;
  height: fit-content;
  font-size: 1rem;
  filter: drop-shadow(0 0 32px #fff1);
  display: grid;

  #cookies-banner__close-button {
    grid-area: 1 / 2 / 3 / 3;
  }

  #cookies-banner__content {
    grid-area: 2 / 1 / 4 / 3;
  }

  > *,
  > * > *,
  > * > * > * {
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace !important;
    color: #cccccc !important;
    background-color: black;
  }

  #cookies-banner__content {
    z-index: 1;
    padding: $padding;
  }

  #cookies-banner__close-button {
    z-index: 2;
    width: fit-content;
    padding: 0.2em 0.5em;
    cursor: pointer;
  }
}

@media (min-width: 641px) {
  #cookies-banner:not(.hidden) {
    max-height: 340px;
    width: 452px;

    grid-template-columns: 1em 1fr;
    grid-template-rows: repeat(2, 0.85em) 1fr;
  }
}

@media (max-width: 640px) {
  #cookies-banner:not(.hidden) {
    width: 100%;
    height: fit-content;

    grid-template-columns: 1fr 3em;
    grid-template-rows: repeat(2, 1em) 1fr;
  }
}
