@import "palette";

footer {
  pointer-events: none;
  position: absolute;
  top: 10vh;
  right: 4px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: rgba($color: $font, $alpha: 0.5);
  z-index: 100;
}
