body.info a[route]:not([route="info"]),
body.portfolio a[route]:not([route="portfolio"]),
body.links a[route]:not([route="links"]) {
  color: $foreground-secondary !important;
}

header {
  user-select: none;

  a[route] {
    text-decoration: none;
  }
}
