body.info a[route]:not([route="info"]),
body.portfolio a[route]:not([route="portfolio"]),
body.links a[route]:not([route="links"]) {
  color: $foreground-secondary !important;
}

header {
  user-select: none;

  a[route] {
    text-decoration: none;
  }

  #translate {
    ul {
      > li > a > span {
        height: 1em;
        width: #{math.div(1000, 600)}em; // 1.000 × 600 Pixel
        background-size: 100% 100%;
        display: inline-block;

        &.de {
          background-image: url(../img/de.svg);
        }

        &.en {
          background-image: url(../img/en.svg);
        }
      }
    }
  }
}
