main {
  $main-margin-t: 175px;
  $main-margin-b: 75px;
  margin: $main-margin-t auto $main-margin-b auto;
  padding: 0 20px;
  width: 100vw;
  max-width: $main-width;
  min-height: calc(100vh - #{58px + $main-margin-t + $main-margin-b});

  &.loading > *,
  *.faded-out {
    filter: blur(8px);
    transform: translateX(2vw);
    opacity: 0;
  }

  > * {
    transition: filter #{$timing * 1.5} ease-out,
      transform #{$timing * 1.5} #{$timing * 0.5} ease-out,
      opacity #{$timing * 1.5} ease-out;
    will-change: filter, transform, opacity;
  }

  h1 {
    font-size: $font-size-h1;
    font-weight: bold;
    margin: 0 0 20px 0;
    background-image: linear-gradient(
      135deg,
      var(--theme-color-a) -10%,
      var(--theme-color-b) 110%
    );
    width: fit-content;
    background-clip: text;
    color: transparent !important;
  }

  h2 {
    font-size: $font-size-h2;
    font-weight: bold;
    margin: 60px 0 0 0;
    color: $foreground-primary !important;
  }

  p {
    font-size: $font-size;
    font-weight: normal;
    color: $foreground-secondary;

    strong {
      font-size: $font-size;
      font-weight: normal;
      color: $foreground-primary !important;
    }

    a {
      color: $foreground-primary !important;
      text-decoration: underline;
      text-decoration-color: $foreground-primary;
      text-decoration-thickness: 2px;

      &:hover {
        color: rgba($foreground-primary, 0.8) !important;
        text-decoration-color: rgba($foreground-primary, 0.8) !important;
      }
    }
  }
}
