main {
  position: relative;
  z-index: 1;
  padding: 16px max(calc(50vw - 600px), 80px) 256px
    max(calc(50vw - 600px), 80px);

  transition: opacity ease-in-out 200ms;

  &.loading {
    cursor: wait !important;
    opacity: 0;
  }
}
