main {
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 16px 16px 256px 8px;

  transition: opacity ease-in-out 100ms;

  &.loading {
    opacity: 0;
  }
}
