@use 'sass:math';

body {
  #menu-button {
    transition-delay: 200ms;
    position: fixed;
    overflow: hidden;
    width: max-content;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 2em;
    color: white;
    text-align: center;
    padding: 0.25em 0 0.75em 0;
    background-image: linear-gradient(black, transparent);
    cursor: default;
    z-index: 1000;
  }

  #menu-info {
    display: block;
    position: fixed;
    top: 64vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 64px;
    height: auto;
    opacity: 0;
    pointer-events: none;
    z-index: 10000;
  }

  > *,
  nav > *,
  nav > * > * {
    transition: all 256ms;
  }

  nav {
    position: fixed;
    top: 2.5vh;
    width: max-content;
    left: 50vw;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    > a {
      padding: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:hover {
        > img {
          transform: translateY(-2.5vmin);
        }
      }

      > img {
        width: 7.5vmin;
      }

      > span {
        color: white;
      }
    }

    &:hover > a:not(:hover) {
      opacity: 0.5;
    }
  }

  &.portfolio [route="portfolio"],
  &.info [route="info"],
  &.links [route="links"] {
    display: none;
    visibility: collapse;
  }

  .page {
    background-color: #151515;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    z-index: 100;
  }

  .fake-page {
    position: fixed;
    border-radius: 8px;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        transition: all #{(5 - $i) * 256}ms;
        transition-delay: #{(4 - $i) * 128}ms;
        background-color: lighten(black, math.pow(7 - $i, 2));
        z-index: $i;
      }
    }
  }

  &.active {
    #menu-button {
      transform: translateY(-150%);
    }

    #menu-info {
      opacity: 0.5 !important;
    }

    .fake-page {
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          $space: math.div($i, 5) * 20;
          $width: #{75 + $space}vw;
          width: $width !important;
          left: calc(50vw - #{$width / 2}) !important;
          right: calc(50vw - #{$width / 2}) !important;
          top: #{20 + $space}vh;
        }
      }
    }

    .page {
      overflow: hidden !important;
      border-radius: 8px;
      transform: translateY(32.5vh) scale(0.9);

      > * {
        filter: blur(16px);
      }
    }
  }
}
