nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  padding: 8px 0;

  z-index: 1000;

  background-image: linear-gradient(#{$back}, transparent);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    > img {
      height: 32px;
      width: max-content;
      transition: all ease-in-out $time;
    }

    &:hover {
      opacity: 0.75;

      > img {
        transform: translateY(-0.5em);
      }
    }

    > span {
      color: $foreground;
    }
  }
}

.portfolio a[route="portfolio"],
.info a[route="info"],
.links a[route="links"] {
  display: none;
  visibility: collapse;
}
