:root:after {
  z-index: 100;
  pointer-events: none;
  content: "";
  background-image: url(../img/grain.webp);
  background-repeat: repeat;
  background-size: 1920px 1920px;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
