@import "palette";

.portfolio {
  ol {
    list-style-type: decimal-leading-zero !important;
    list-style-position: outside;

    > li {
      cursor: default;

      > span {
        font-size: 42px;
        font-weight: 800;
        display: block;
      }

      > div {
        display: block;

        > img {
          width: 75vw;
          image-rendering: optimizeSpeed;
          transform: rotateZ(-5deg);
          margin-bottom: 24px;
        }
      }

      > span {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $font;
        margin-bottom: 32px;
        margin-top: 32px;
      }
    }
  }
}
