ul.project-list {
  list-style-type: disc;
  height: fit-content;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  display: flex;
  flex-wrap: nowrap;

  > li {
    display: list-item;

    > p {
      width: 100%;
      color: inherit;
      margin: 0.5rem 0;

      &:nth-child(1) {
        display: block;
      }

      &:nth-child(2) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
      }

      > span {
        display: inline-block;
        border-radius: 4px;
        padding: 0.1rem 0.5rem;
        font-weight: bold;
        color: white;

        &::before {
          font-size: 0.8rem;
        }

        &.ts {
          background-color: #007acc;
          &::before {
            content: "TypeScript";
          }
        }

        &.js {
          background-color: hsl(52, 94%, 37%);
          &::before {
            content: "JavaScript";
          }
        }

        &.scss,
        &.sass {
          background-color: #cf649a;
          &::before {
            content: "Sass";
          }
        }

        &.html {
          background-color: #e44d26;
          &::before {
            content: "HTML";
          }
        }

        &.py {
          background-color: #f9a825;
          &::before {
            content: "Python";
          }
        }

        &.kt {
          background-image: linear-gradient(
            218deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(199, 17, 225, 1) 47%,
            rgba(127, 82, 255, 1) 100%
          );
          &::before {
            content: "Kotlin";
          }
        }
      }
    }

    > a {
      display: inline-block;
      width: fit-content;
      max-width: 100%;
      text-decoration: underline;
      color: inherit;
    }
  }
}
