@import "theme";

// width
::-webkit-scrollbar {
  width: 8px;
}

// Track
::-webkit-scrollbar-track {
  background: $back;
}

// Handle
::-webkit-scrollbar-thumb {
  &:not(:hover) {
    background: $accent2;
  }

  &:hover {
    background: $accent;
  }
}
