$background: #08070b;
$foreground-primary: #f2f2f2;
$foreground-secondary: #8f9ba8;
$hover: #212024;
$cyan: #8be9fd;
$blue: #058cf1;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$indigo: #9580ff;
$red: #ff5555;
$yellow: #f1fa8c;
$default-font: "Circular Book", sans-serif;
$bold-font: "Circular Bold", sans-serif;
$padding: 10px;
$font-size: 16px;
$font-size-small: 12px;
$font-size-h1: 48px;
$font-size-h2: 24px;
$font-size-h3: 18px;
$border-radius: 8px;
$main-width: 700px;
$timing: 200ms;
