.button {
  padding: 10px 20px;
  font-size: $font-size;
  font-family: $default-font;
  text-decoration: none !important;
  color: $foreground-primary;

  &:focus:not(&:hover) {
    opacity: 0.5;
  }

  &:hover {
    border-radius: $border-radius;
    opacity: 1;
    background-color: $hover !important;
  }
}
