@import "theme";
@import "mobile/button";
@import "mobile/header";
@import "mobile/main";

.spotify-widget.loaded {
  margin: $padding;

  > img {
    width: calc(100vw - #{20 + 2 * $padding});
    height: auto;
  }
}
