@use "sass:math";
@use "sass:color";

$sharingan-red: firebrick;
$sharingan-black: black;
$eye-size: 30vmin;

#sharingan-holder {
  overflow: visible;
  display: block;
  margin: 0 auto;

  background-color: whitesmoke;
  height: #{$eye-size * 1.25};
  width: #{$eye-size * 2};

  $eye-scale: math.div($eye-size, 50);

  border-radius: 65% 0;
  border-top: solid black 15px;
  border-left: solid black 5px;
  border-right: solid black 7px;
  border-bottom: solid black 2px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "eye";
  grid-gap: 0;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  padding: 0;

  > * {
    grid-area: eye;
  }

  &:hover > #sharingan {
    transform: rotate(360deg);

    > .pupil {
      transform: scale(0.9);
      fill: $sharingan-red;
      z-index: 1;
    }
  }

  &:not(:hover) > #sharingan {
    > .pupil {
      fill: $sharingan-black;
    }
  }

  > #sharingan {
    overflow: hidden;
    transition: transform 500ms ease-out;
    transform-origin: center;
    will-change: transform;

    border: {
      color: $sharingan-black;
      style: solid;
      width: 2px;
      radius: 50%;
    }
    width: $eye-size;
    height: $eye-size;
    position: relative;

    background-color: $sharingan-red;

    > * {
      transform-origin: center;
    }

    > .tomoe {
      z-index: 0;
      fill: $sharingan-black;

      &:nth-child(2) {
        transform: rotate(120deg);
      }

      &:nth-child(3) {
        transform: rotate(240deg);
      }
    }
  }
}
