@import "nav-desktop";
@import "main-desktop";
@import "portfolio-desktop";
@import "footer-desktop";
@import "palette";

main {
  h1 {
    font-size: 64px;
    margin-bottom: 16px;
  }

  p {
    font-size: 18px;
    line-height: 1.5em;
  }

  a {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: $font;

    &:after {
      content: "";
      background-color: $font;
      opacity: 0.25;
      position: absolute;
      left: 12px;
      bottom: -6px;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      z-index: -1;
      transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
    }

    &:hover:after {
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 100%;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
b {
  text-rendering: geometricPrecision;
}

img {
  image-rendering: optimizeQuality;
}

* {
  shape-rendering: geometricPrecision;
}

::selection {
  background: $accent;
}
