@import "nav-desktop";
@import "main-desktop";
@import "portfolio-desktop";
@import "footer-desktop";

main {
  h1 {
    font-size: 64px;
    margin-bottom: 16px;
  }

  p {
    font-size: 18px;
    line-height: 1.5em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
b {
  text-rendering: geometricPrecision;
}

img {
  image-rendering: optimizeQuality;
}

* {
  shape-rendering: geometricPrecision;
}

::selection {
  background: $accent;
}
