@use "sass:math";
@import "theme";

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
  border: none;
}

:root,
body,
main {
  background-color: $background;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}

* {
  padding: 0;
  position: relative;
  font-family: #{$default-font} !important;
  color-scheme: dark !important;
  text-rendering: optimizeLegibility;
  image-rendering: optimizeQuality;
  shape-rendering: geometricPrecision;
}

svg,
svg * {
  text-rendering: geometricPrecision !important;
}

:root,
body {
  overflow-x: hidden;
  min-height: 100vh;
}

br,
hr {
  user-select: none;
  pointer-events: none;
}

@import "header";
@import "main";
@import "footer";
@import "page-color";
@import "cookies-banner";
@import "scrollbar";
@import "selection";
@import "acessibility";
