@import "normalize";

body > *,
body > * > * {
  color: $font;
  font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
  overflow: hidden;
}

@media all and (prefers-reduced-motion: reduce) {
  *,
  *:after,
  *:before {
    transition: none !important;
    animation: none !important;
  }
}
