@import "nav-mobile";
@import "main-mobile";
@import "portfolio-mobile";
@import "footer-mobile";

main {
  h1 {
    font-size: 42px;
    margin-bottom: 16px;
  }

  p {
    font-size: 17px;
    line-height: 1.5em;
  }

  a {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: $font;

    &:after {
      content: "";
      background-color: $font;
      opacity: 0.25;
      position: absolute;
      left: 12px;
      bottom: -6px;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      z-index: -1;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
b {
  text-rendering: optimizeLegibility;
}

img {
  image-rendering: optimizeQuality;
}

* {
  shape-rendering: geometricPrecision;
}
