---
import "../styles/card.sass";
import "../styles/grid.sass";
---

<section>
    <h2 id="contact">Contact</h2>

    <ul class="grid card-wrapper">
        <li class="card-wrapper__card">
            <a
                class="grid__item card-wrapper__card__content"
                href="mailto:mail@frank-mayer.io"
                target="_blank"
                rel="noreferrer noopener">Write an email</a
            >
        </li>
        <li class="card-wrapper__card">
            <a
                class="grid__item card-wrapper__card__content"
                href="https://twitter.com/FF1493FF"
                target="_blank"
                rel="noreferrer noopener">Twitter</a
            >
        </li>
        <li class="card-wrapper__card">
            <a
                class="grid__item card-wrapper__card__content"
                href="https://hello.2heng.xin/@tsukinoko"
                target="_blank"
                rel="noreferrer noopener">Mastodon</a
            >
        </li>
        <li class="card-wrapper__card">
            <a
                class="grid__item card-wrapper__card__content"
                href="https://www.linkedin.com/in/frank-mayer-b85677214/"
                target="_blank"
                rel="noreferrer noopener">LinkedIn</a
            >
        </li>
    </ul>
</section>
