---
import "../styles/card.sass";
import "../styles/grid.sass";
import Link from "./Link.astro";
---

<section>
    <h2 id="contact">Contact</h2>

    <ul class="grid card-wrapper">
        <li class="card-wrapper__card">
            <Link
                class="grid__item card-wrapper__card__content"
                href="mailto:mail@frank-mayer.io"
            >
                Email
            </Link>
        </li>
        <li class="card-wrapper__card">
            <Link
                class="grid__item card-wrapper__card__content"
                href="https://twitter.com/FF1493FF"
            >
                Twitter
            </Link>
        </li>
        <li class="card-wrapper__card">
            <Link
                class="grid__item card-wrapper__card__content"
                href="https://hello.2heng.xin/@tsukinoko"
            >
                Mastodon
            </Link>
        </li>
        <li class="card-wrapper__card">
            <Link
                class="grid__item card-wrapper__card__content"
                href="https://www.linkedin.com/in/frank-mayer-b85677214/"
            >
                LinkedIn
            </Link>
        </li>
    </ul>
</section>
