---
import "../styles/card.sass";
import "../styles/grid.sass";
import ContactForm from "./ContactForm.astro";
import Link from "./Link.astro";
---

<section>
    <h2 id="contact">Contact</h2>

    <ul class="grid card-wrapper">
        <li class="card-wrapper__card">
            <Link
                class="grid__item card-wrapper__card__content"
                href="mailto:frank-mayer.x4d91@aleeas.com"
            >
                Email<br />(alias for protection)
            </Link>
        </li>
        <li class="card-wrapper__card">
            <Link
                class="grid__item card-wrapper__card__content"
                href="https://twitter.com/FF1493FF"
            >
                Twitter
            </Link>
        </li>
        <li class="card-wrapper__card">
            <a
                rel="me"
                target="_blank"
                class="grid__item card-wrapper__card__content"
                href="https://hello.2heng.xin/@tsukinoko"
            >
                Mastodon
            </a>
        </li>
        <li class="card-wrapper__card">
            <Link
                class="grid__item card-wrapper__card__content"
                href="www.linkedin.com/in/frank-mayer-de"
            >
                LinkedIn
            </Link>
        </li>
    </ul>

    <ContactForm />
</section>
