---
import Link from "./Link.astro";
---

<footer>
    <h2>Credits</h2>

    <table>
        <tbody>
            <tr>
                <th>Hosting</th>
                <td>
                    <Link href="https://vercel.com">Vercel</Link>
                </td>
            </tr>
            <tr>
                <th>Framework</th>
                <td>
                    <Link href="https://astro.build">Astro</Link>
                </td>
            </tr>
            <tr>
                <th>Source</th>
                <td>
                    <Link href="https://github.com/Frank-Mayer/homepage">
                        GitHub
                    </Link>
                </td>
            </tr>
            <tr>
                <th>Color Scheme</th>
                <td>
                    <Link href="https://github.com/EdenEast/nightfox.nvim">
                        Nightfox by EdenEast
                    </Link>
                </td>
            </tr>
        </tbody>
    </table>
</footer>
