<footer>
    <h2>Credits</h2>

    <table>
        <tbody>
            <tr>
                <th>Hosting</th>
                <td>
                    <a
                        href="https://vercel.com"
                        rel="noreferrer noopener"
                        target="_blank">Vercel</a
                    >
                </td>
            </tr>
            <tr>
                <th>Framework</th>
                <td>
                    <a
                        href="https://astro.build"
                        rel="noreferrer noopener"
                        target="_blank">Astro</a
                    >
                </td>
            </tr>
            <tr>
                <th>Source</th>
                <td>
                    <a
                        href="https://github.com/Frank-Mayer/homepage"
                        rel="noreferrer noopener"
                        target="_blank">GitHub</a
                    >
                </td>
            </tr>
        </tbody>
    </table>
</footer>
