---
import "../styles/cta.scss";
import Link from "./Link.astro";
---

<section>
    <h2 id="about_me">About me</h2>
    <p>
        I love working with startups or mid-sized companies with ambitious
        goals.
    </p>
    <p>
        As a <b>Software Engineer</b> I plan your software project and make sure
        that you get the best results possible.
    </p>
    <br />
    <p>
        I am a well organised problem solver with <b
            >high attention to the detail</b
        > and a passion for clean code and <b>good architecture</b>.
    </p>
    <br />
    <p>
        In my free time I like to watch anime, play video games and listen to
        jazz and rock music.
    </p>
    <br />
    <p><b>Let's get together and create the next great app.</b></p>
    <br />
    <div class="cta card-wrapper">
        <Link
            class="cta__button card-wrapper__card card-wrapper__card--primary"
            href="/#contact"
            data-hash="contact"
        >
            <span class="card-wrapper__card__content">Contact info</span>
        </Link>

        <Link
            class="cta__button card-wrapper__card"
            href="/#my_portfolio"
            data-hash="my_portfolio"
        >
            <span class="card-wrapper__card__content">My work</span>
        </Link>
    </div>
    <br />
    <h2>My top languages</h2>
    <p class="flex-list">
        <Link href="https://www.rust-lang.org/">
            <img
                loading="lazy"
                decoding="async"
                style="height: 2em"
                alt=""
                src="https://www.rust-lang.org/logos/rust-logo-64x64.png"
            />
            Rust
        </Link>
        <Link href="https://www.typescriptlang.org/">
            <img
                loading="lazy"
                decoding="async"
                style="height: 2em"
                alt=""
                src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg"
            />
            TypeScript
        </Link>
        <Link href="https://sass-lang.com/">
            <img
                loading="lazy"
                decoding="async"
                style="height: 2em"
                alt=""
                src="https://upload.wikimedia.org/wikipedia/commons/9/96/Sass_Logo_Color.svg"
            />
            Sass
        </Link>
        <Link href="https://www.lua.org/">
            <img
                loading="lazy"
                decoding="async"
                style="height: 2em"
                alt=""
                src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Lua-Logo.svg"
            />
            Lua
        </Link>
        <Link href="https://go.dev/">
            <img
                loading="lazy"
                decoding="async"
                style="height: 2em"
                alt=""
                src="https://upload.wikimedia.org/wikipedia/commons/2/2d/Go_gopher_favicon.svg"
            />
            Go
        </Link>
        <Link href="https://fsharp.org/">
            <img
                loading="lazy"
                decoding="async"
                style="height: 2em"
                alt=""
                src="https://upload.wikimedia.org/wikipedia/commons/6/66/F_Sharp_logo.svg"
            />
            F#
        </Link>
    </p>
    <br /><br />
    <h2>Tools I use</h2>
    <p class="flex-list">
        <Link href="https://neovim.io/">
            <img
                loading="lazy"
                decoding="async"
                style="height: 2em"
                alt=""
                src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Neovim-mark.svg"
            />
            Neovim
        </Link>
                <Link href="https://tmux.github.io/">
            <img
                loading="lazy"
                decoding="async"
                style="height: 2em"
                alt=""
                src="https://raw.githubusercontent.com/tmux/tmux/f04cc3997629823f0e304d4e4184e2ec93c703f0/logo/tmux-logomark.svg"
            />
            tmux
        </Link>
        <Link href="https://github.com/kovidgoyal/kitty">
            <img
                loading="lazy"
                decoding="async"
                style="height: 2em"
                alt=""
                src="https://raw.githubusercontent.com/kovidgoyal/kitty/master/logo/kitty.svg"
            />
            Kitty
        </Link>
        <Link href="https://www.figma.com/">
            <img
                loading="lazy"
                decoding="async"
                style="height: 2em"
                alt="figma icon"
                src="https://upload.wikimedia.org/wikipedia/commons/3/33/Figma-logo.svg"
            />
            Figma
        </Link>
        <Link href="https://arc.net/">
            <img
                loading="lazy"
                decoding="async"
                style="height: 2em"
                alt="arc icon"
                src="https://raw.githubusercontent.com/Frank-Mayer/Frank-Mayer/master/img/arc.svg"
            />
            Arc
        </Link>
    </p>
</section>
