---
import "../styles/cta.sass";
---

<section>
    <h1 id="home">Hey,<br />I'm Frank</h1>

    <p>Let's get together and create the next great app.</p>
    <br />
    <p>
        I love working on startups or mid-sized companies with ambitious goals.
    </p>
    <p>
        As a <b>Software Engineer</b> I plan your software project and make sure
        that you get the best results possible.
    </p>
    <br />
    <p>
        I am a well organised problem solver with <b
            >high attention to the detail</b
        > and a passion for clean code and <b>good architecture</b>.
    </p>
    <br />
    <p>
        In my free time I like to watch anime, play video games and listen to
        jazz and rock music.
    </p>
    <br />
    <div class="cta card-wrapper">
        <a
            class="cta__button cta__button--primary card-wrapper__card"
            href="/contact"
            data-hash="contact"
        >
            <span class="card-wrapper__card__content">Contact info</span>
        </a>

        <a
            class="cta__button cta__button--secondary card-wrapper__card"
            href="/portfolio"
            data-hash="portfolio"
        >
            <span class="card-wrapper__card__content">My work</span>
        </a>
    </div>
</section>
