---
import { joinClassNames } from "../utils";
export interface Props {
    href: string;
    alt?: string;
    class?: string;
}

const target = Astro.props.href.startsWith("https://") ? "_blank" : undefined;
const rel = target ? "noopener noreferrer" : undefined;
---

<a href={Astro.props.href} target={target} rel={rel}>
    <span class={joinClassNames(Astro.props.class, "inline-block")}>
        <slot />
    </span>
</a>

<style>
    a {
        height: fit-content;
        display: inline-block;
    }
    @media (hover: hover) {
        a:hover > span {
            color: rgb(var(--color-primary));
            transform: translateX(1rem);
        }
        a > span {
            transition: transform 0.2s ease-in-out;
        }
    }
</style>
