---
import { joinClassNames } from "../utils";
export interface Props {
    href: string;
    alt?: string;
    class?: string;
    "data-hash"?: string;
    "data-shortcut"?: string;
}

const target = Astro.props.href.startsWith("https://") ? "_blank" : undefined;
const rel = target ? "noopener noreferrer" : undefined;
---

<a
    href={Astro.props.href}
    target={target}
    rel={rel}
    data-hash={Astro.props["data-hash"]}
    data-shortcut={Astro.props["data-shortcut"]}
>
    <span class={joinClassNames(Astro.props.class, "inline-block")}>
        <slot />
    </span>
</a>

<style>
    a {
        height: fit-content;
        display: inline-block;
    }
    a:hover > span {
        color: rgb(var(--color-primary));
        transform: translateX(1rem);
    }
    a > span {
        transition: transform 0.2s ease-in-out;
    }
</style>
