<h1>YouTube Livestream</h1>
<iframe
    style={{
        width: "75vmin",
        height: "50vmin",
        margin: "0 auto",
        display: "block",
    }}
    src="https://zeug-frank-mayer.vercel.app/api/youtube/live"
    allow="autoplay; encrypted-media; picture-in-picture"
    allowfullscreen></iframe>
