---
import "../styles/card.sass";
import "../styles/grid.sass";
import Link from "./Link.astro";
---

<section>
    <h2 id="portfolio">Portfolio</h2>

    <ul class="grid grid--big card-wrapper">
        <li class="card-wrapper__card">
            <Link
                class="grid__item card-wrapper__card__content"
                href="https://github.com/Frank-Mayer/stream"
            >
                <h3>Frank-Mayer/stream</h3>
                <p>
                    <img
                        style="height: 1em; width: 1em; display: inline;"
                        src="/lang/ts.svg"
                        alt=""
                    /> TypeScript
                </p>
                <p>A typescript library for working with streams of data.</p>
            </Link>
        </li>
        <li class="card-wrapper__card">
            <Link
                class="grid__item card-wrapper__card__content"
                href="https://github.com/HHN-SEB-2022-23/allybi"
            >
                <h3>HHN-SEB-2022-23/allybi</h3>
                <p>
                    <img
                        style="height: 1em; width: 1em; display: inline;"
                        src="/lang/ts.svg"
                        alt=""
                    /> React
                </p>
                <p>
                    Educational game for the anti discrimination organization in
                    Heilbronn
                </p>
            </Link>
        </li>
        <li class="card-wrapper__card">
            <Link
                class="grid__item card-wrapper__card__content"
                href="https://github.com/yams-team"
            >
                <h3>yams</h3>
                <p>
                    <img
                        style="height: 1em; width: 1em; display: inline;"
                        src="/lang/rs.webp"
                        alt=""
                    /> Rust
                </p>
                <p>
                    Minecraft multiplayer server reimplementation as
                    microservices
                </p>
            </Link>
        </li>
    </ul>
</section>

<section>
    <h2>I work/worked for</h2>
    <ul class="grid grid--big card-wrapper">
        <li class="card-wrapper__card">
            <Link
                class="grid__item card-wrapper__card__content"
                href="https://www.reost.de"
            >
                <h3>Reost</h3>
                <ul>
                    <li>Lead DevOps</li>
                    <li>Lead development</li>
                </ul>
            </Link>
        </li>
        <li class="card-wrapper__card">
            <Link
                class="grid__item card-wrapper__card__content"
                href="https://www.prologistik-group.com/"
            >
                <h3>proLogistik Group</h3>
                <ul>
                    <li>Frontend dev</li>
                    <li>Backend dev</li>
                    <li>DevOps</li>
                </ul>
            </Link>
        </li>
    </ul>
</section>
