---
import "../styles/card.scss";
import "../styles/grid.scss";
import Link from "./Link.astro";
---

<section>
    <h2>Portfolio</h2>

    <ul id="my_portfolio" class="grid grid--big card-wrapper">
        <li class="card-wrapper__card">
            <Link
                class="grid__item card-wrapper__card__content"
                href="https://github.com/HHN-SEB-2022-23/allybi"
            >
                <h3>HHN-SEB-2022-23/allybi</h3>
                <p>
                    <img
                        style="height: 1em; width: 1em; display: inline;"
                        src="/lang/ts.svg"
                        alt=""
                    /> React
                </p>
                <p>
                    Educational game for the anti discrimination organization in
                    Heilbronn
                </p>
            </Link>
        </li>
        <li class="card-wrapper__card">
            <Link
                class="grid__item card-wrapper__card__content"
                href="https://github.com/Frank-Mayer/react-tag-cloud"
            >
                <h3>Frank-Mayer/react-tag-cloud</h3>
                <p>
                    <img
                        style="height: 1em; width: 1em; display: inline;"
                        src="/lang/ts.svg"
                        alt=""
                    /> React
                </p>
                <p>3D TagCloud that is rolling with the mouse</p>
            </Link>
        </li>
        <li class="card-wrapper__card">
            <Link
                class="grid__item card-wrapper__card__content"
                href="https://github.com/Frank-Mayer/jack"
            >
                <h3>Frank-Mayer/jack</h3>
                <p>
                    <img
                        style="height: 1em; width: 1em; display: inline;"
                        src="/lang/java.svg"
                        alt=""
                    /> Java
                </p>
                <p>Unified wrapper for common Java utils</p>
            </Link>
        </li>
    </ul>
</section>

<section>
    <h2>Open Source Contri&shy;butions</h2>
    <ul class="grid grid--big card-wrapper">
        <li class="card-wrapper__card">
            <Link
                class="grid__item card-wrapper__card__content"
                href="https://github.com/GoogleChromeLabs/squoosh"
            >
                <h3>GoogleChromeLabs/squoosh</h3>
                <p>
                    <img
                        style="height: 1em; width: 1em; display: inline;"
                        src="/lang/ts.svg"
                        alt=""
                    /> Preact
                </p>
                <p>
                    Make images smaller using best-in-class codecs, right in the
                    browser.
                </p>
            </Link>
        </li>
    </ul>
</section>

<section>
    <h2>I work / worked for</h2>
    <ul class="grid grid--big card-wrapper">
        <li class="card-wrapper__card">
            <Link
                class="grid__item card-wrapper__card__content"
                href="https://www.hs-heilbronn.de"
            >
                <h3>Heilbronn University</h3>
                <p>Machine Learning</p>
            </Link>
        </li>
        <li class="card-wrapper__card">
            <Link
                class="grid__item card-wrapper__card__content"
                href="https://www.reost.de"
            >
                <h3>Reost</h3>
                <p>IT Consultant</p>
                <p>DevOps</p>
                <p>Backend</p>
                <p>Frontend</p>
            </Link>
        </li>
        <li class="card-wrapper__card">
            <div class="grid__item card-wrapper__card__content">
                <h3>LogiSoft-S GmbH</h3>
                <i>no longer an independent company since 2023</i>
                <p>DevOps</p>
                <p>Frontend</p>
                <p>Backend</p>
            </div>
        </li>
    </ul>
</section>
