---
import { twMerge } from "tailwind-merge";
export interface Props {
    src: string;
    class?: string;
}
---

<div class="relative w-full aspect-video">
    <iframe
        src={Astro.props.src}
        class={twMerge(
            Astro.props.class,
            "aspect-video pointer-events-none absolute top-0 left-0",
        )}></iframe>
</div>

<style>
    iframe {
        width: 300%;
        transform: scale(0.333333);
        transform-origin: top left;
    }

    @media (min-width: 768px) {
        iframe {
            width: 200%;
            transform: scale(0.5);
        }
    }
</style>
