nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100vw;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > a {
    &.home {
      color: transparent;
      overflow: hidden;
      mask-image: url(/favicon.svg);
      mask-border-mode: alpha;
      mask-size: 2rem;
      mask-repeat: no-repeat;
      mask-position: center;

      @include theme.gradient();

      width: 2rem;
      height: 2rem;
    }

    &:not(.home) {
      padding: calc(9px + 0.5rem) 1rem 0.5rem 1rem;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 0.85rem;
      text-align: center;

      will-change: background-color;
      transition: background-color theme.$timing;

      // underline
      &::after {
        pointer-events: none;
        user-select: none;
        content: "";
        display: block;
        width: 2rem;
        height: 1px;
        background: theme.$foreground;
        margin: 8px auto 0 auto;
        opacity: 0;

        will-change: opacity;
        transition: opacity theme.$timing;
      }

      &.active {
        color: theme.$foreground;

        //   underline
        &::after {
          opacity: 1;
        }
      }

      &:not(.active) {
        color: theme.$foreground-secondary;
      }
    }
  }
}
