.section {
  display: block;
  height: fit-content;
  min-height: 40vmin;
}

.section {
  > * {
    display: block;
  }

  a {
    text-decoration: underline;
    color: var(--color-ref-neutral-100);

    &:hover {
      color: var(--color-primary-container-background);
    }
  }

  > img {
    width: 35vmin;
    height: auto;
    margin-bottom: 2rem;
  }

  &:nth-child(even) > img {
    float: left;
    margin-right: 0.5rem;
  }

  &:nth-child(odd) > img {
    float: right;
    margin-left: 0.5rem;
  }
}
