@font-face {
  font-family: "JetBrains Sans";
  font-style: normal;
  font-weight: normal;
  src: url("/JetBrainsSans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: normal;
  src: url("/JetBrainsMono.woff2") format("woff2");
  font-display: swap;
}
