@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

@font-face {
  font-family: "JetBrains Sans";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/JetBrainsSans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/JetBrainsMono.woff2") format("woff2");
  font-display: swap;
}
