@font-face {
    font-family: "Caveat";
    src: url("/fonts/Caveat.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "CircularSp";
    src: url("/fonts/CircularSp-Book.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "JetBrains Sans";
    src: url("/fonts/JetBrainsSans.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
