@use "theme";

footer {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: calc(100vh - 5rem);
  left: 0;
  right: 0;
  width: 100vw;

  > a {
    color: theme.$foreground;
    text-decoration: none;
    border-bottom: {
      width: 0.5px;
      style: solid;
      color: theme.$foreground;
    }
  }
}
