form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

form > label {
  width: 100%;
}

form > label > fieldset {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-ref-neutral-100);
  border-radius: 0.5rem;
  padding: 1rem 0 0.5rem 1.75rem;
}

form > label > fieldset > input,
form > label > fieldset > textarea {
  width: 100%;
  background: none;
  padding: 0.75rem 0.5rem;
  margin: 0 1.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  transform: translate(-1rem, -0.5rem);
  color: var(--color-ref-neutral-100);
  font-family: "JetBrains Mono", "Google Sans", "Segoe UI", sans-serif;
}

form > label > fieldset > textarea {
  resize: none;
}

form > input[type="submit"] {
  width: fit-content;
  margin-left: auto;
  cursor: pointer;
  background: var(--color-primary-container-background);
  color: var(--color-on-primary-container);
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 3rem;
}
