@use "theme";

// width
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

// Track
::-webkit-scrollbar-track {
  background: theme.$background;
}

// Handle
::-webkit-scrollbar-thumb {
  background: theme.$foreground-secondary;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: theme.$foreground;
}

// corner
::-webkit-scrollbar-corner {
  background: theme.$background;
}
