@use "sass:color";

$color-background: rgb(20, 12, 23);
$color-foreground: rgb(247, 247, 244);
$color-foreground-secondary: color.mix(
    $color-foreground,
    $color-background,
    39%
);
$color-accent: rgb(128, 255, 204);
$color-error: rgb(255, 128, 128);
$timing: 200ms;

@mixin glow-no-color {
    filter: drop-shadow(0 0 0.5rem rgba($color-accent, 0.5)) !important;
}

@mixin glow {
    color: $color-accent !important;
    @include glow-no-color;
}
