$color-background: rgb(40, 37, 40);
$color-foreground: rgb(247, 247, 244);
$color-foreground-secondary: rgb(101, 99, 101);
$color-accent: rgb(128, 255, 204);
$timing: 200ms;

@mixin glow-no-color {
    filter: drop-shadow(0 0 0.5rem rgba($color-accent, 0.5)) !important;
}

@mixin glow {
    color: $color-accent !important;
    @include glow-no-color;
}
