@use "theme";

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.field {
  color: theme.$foreground-secondary;
  width: 100%;
}

.field-input {
  margin-top: 0.25rem;
  display: block;
  padding: 0.5rem 1rem;
  border: 1px solid theme.$foreground-secondary;
  border-radius: theme.$border-radius;
  color: theme.$foreground;
  background-color: theme.$background;
  width: 100%;
  resize: none;

  &:invalid {
    border-color: theme.$error !important;
  }
}

textarea.field-input {
  height: 12rem;
}

.submit {
  width: fit-content;
  margin-left: auto;
  color: theme.$background;
  padding: 1rem 2rem;
  border-radius: theme.$border-radius;
  cursor: pointer;

  &:not(:hover) {
    background-color: theme.$foreground-secondary;
  }

  &:hover {
    background-color: theme.$foreground;
  }
}
