@use "sass:math";
@use "desktop/desktoptheme";

@media screen and (min-width: 512px) {
  :root {
    --page-space: max(
      1rem,
      calc(50vw - #{math.div(desktoptheme.$page-width, 2)})
    );
    --page-width: min(calc(100vw - 2rem), #{desktoptheme.$page-width});
  }

  @import "desktop/nav";
  @import "desktop/main";
  @import "desktop/footer";

  $redColor: rgba(244, 67, 54, 1);
  $blueColor: rgba(33, 150, 243, 1);
  $unit: 0.75px;

  @keyframes move3d {
    0% {
      text-shadow: #{5 * $unit} #{4 * $unit} $redColor,
        #{-5 * $unit} #{-6 * $unit} $blueColor;
    }
    25% {
      text-shadow: #{-5 * $unit} #{-6 * $unit} $redColor,
        #{5 * $unit} #{4 * $unit} $blueColor;
    }
    50% {
      text-shadow: #{5 * $unit} #{-4 * $unit} $redColor,
        #{-8 * $unit} #{4 * $unit} $blueColor;
    }
    75% {
      text-shadow: #{-8 * $unit} #{-4 * $unit} $redColor,
        #{-5 * $unit} #{-4 * $unit} $blueColor;
    }
    100% {
      text-shadow: #{-5 * $unit} 0 $redColor,
        #{5 * $unit} #{-4 * $unit} $blueColor;
    }
  }

  a:not(.home),
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    will-change: text-shadow;

    &:hover {
      animation: move3d 300ms infinite;
    }
  }
}
