@use "theme";

.heading {
  font-size: min(9vw, 2.5rem);
  text-transform: uppercase;
  font-weight: 900;
}

.hero {
  min-height: calc(100vh - 6rem);
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  padding-bottom: 1rem;

  > svg {
    margin: 0 auto;
    height: 2rem;
    width: 2rem;
  }
}

.call-to-action {
  color: theme.$background;
  padding: 1rem 2rem;

  border: none !important;
  border-radius: theme.$border-radius;

  will-change: background-color;
  transition: background-color theme.$timing;

  &:not(:hover) {
    background-color: theme.$foreground-secondary;
  }
  &:hover {
    background-color: theme.$foreground;
  }
}
