@use "theme";

@import "preflight";
@import "fonts";

@import "scrollbar";

@import "main";
@import "footer";

:root {
  font-family: theme.$font;
  background-color: theme.$background;
}

:root,
html,
body,
#__next {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
