@use "theme";

.proj-list {
  list-style: circle;
  padding-left: 1rem;

  > li {
    color: theme.$foreground-secondary;
  }
}

.lang-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  > span {
    display: inline-block;
    border-radius: 4px;
    padding: 0.1rem 0.5rem;
    font-weight: bold;
    color: theme.$foreground;

    &::before {
      font-size: 0.8rem;
    }

    &[data-lang="fs"] {
      background-image: linear-gradient(
        150deg,
        rgb(55, 139, 186) 50%,
        rgb(49, 185, 220) 50%
      );
      &::before {
        content: "F#";
      }
    }

    &[data-lang="ts"] {
      background-color: #007acc;
      &::before {
        content: "TypeScript";
      }
    }

    &[data-lang="js"] {
      background-color: hsl(52, 94%, 37%);
      &::before {
        content: "JavaScript";
      }
    }

    &[data-lang="scss"],
    &[data-lang="sass"] {
      background-color: #cf649a;
      &::before {
        content: "Sass";
      }
    }

    &[data-lang="html"] {
      background-color: #e44d26;
      &::before {
        content: "HTML";
      }
    }

    &[data-lang="py"] {
      background-color: #f9a825;
      &::before {
        content: "Python";
      }
    }

    &[data-lang="kt"] {
      background-image: linear-gradient(
        218deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(199, 17, 225, 1) 47%,
        rgba(127, 82, 255, 1) 100%
      );
      &::before {
        content: "Kotlin";
      }
    }
  }
}
