header {
  $header-height: 60px;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  height: #{$header-height * 2};
  background-color: $background;

  > * {
    z-index: 2;
  }

  #home {
    width: calc(100vw - #{$padding * 2} - #{$header-height});
    height: #{$header-height - $padding * 2};
    position: fixed;
    top: $padding;
    left: $padding;
    background-image: url(../img/fav.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    font-size: #{$header-height * 0.45};
    color: $foreground-primary;
    text-decoration: none;
    text-align: center;
  }

  #translate {
    width: #{$header-height - $padding * 2};
    height: #{$header-height - $padding * 2};
    position: fixed;
    right: $padding;
    top: $padding;
    background: {
      repeat: no-repeat;
      position: center;
      image: url(../img/translate.svg);
      position: #{$padding} #{$padding};
      size: calc(100% - #{$padding * 2}) calc(100% - #{$padding * 2});
    }

    &:not(.open) {
      > ul {
        display: none !important;
        overflow: hidden;
      }
    }

    &.open {
      > ul {
        position: fixed;
        top: #{$header-height};
        right: $padding;
        width: fit-content;
        max-width: calc(100vw - #{$padding * 2});
        background-color: $background;
        border: {
          width: 1px;
          style: solid;
          color: $background;
          radius: $border-radius;
        }
        display: flex;
        flex-direction: column;
        gap: 1px;

        > li {
          list-style: none;
          background-color: $hover;

          &:hover > a:not(.active) {
            color: var(--theme-color-a);
          }

          &:not(:hover) > a:not(.active) {
            color: $foreground-secondary;
          }

          a.active {
            color: var(--theme-color-a) !important;
          }

          &:first-child {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
          }

          &:last-child {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
          }

          > a {
            text-decoration: none;
            padding: #{$padding * 2};
            line-height: #{$padding * 5};
            font-size: $font-size-h3;
          }
        }
      }
    }
  }

  nav {
    position: fixed;
    top: $header-height;
    left: 0;
    width: 100vw;
    height: $header-height;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    > a {
      text-transform: uppercase;
      font-size: $font-size-small !important;
      &.button {
        background-color: transparent !important;
        border: none !important;
      }

      &:hover {
        color: $foreground-primary;
      }

      &:not(:hover) {
        color: $foreground-secondary;
      }
    }
  }
}

body.info a[data-route="../info"],
body.portfolio a[data-route="../portfolio"],
body.links a[data-route="../links"] {
  color: $foreground-primary !important;
  pointer-events: none !important;

  &:after {
    $underline-width: 20px;
    content: "";
    height: 1px;
    width: $underline-width;
    background-color: $foreground-primary;
    position: absolute;
    bottom: -0.5em;
    left: calc(50% - #{$underline-width * 0.5});
  }
}

.home #home[data-route="../home"] {
  font-size: 0 !important;
  color: transparent !important;
}
