header {
  $header-height: 60px;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  height: #{$header-height * 2};
  background-color: $background;

  > * {
    z-index: 2;
  }

  #home {
    width: calc(100vw - #{$padding * 2});
    height: #{$header-height - $padding * 2};
    position: fixed;
    top: $padding;
    left: $padding;
    background-image: url(../img/fav.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    font-size: #{$header-height * 0.45};
    color: $foreground-primary;
    text-decoration: none;
    text-align: center;
  }

  nav {
    position: fixed;
    top: $header-height;
    left: 0;
    width: 100vw;
    height: $header-height;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    > a {
      text-transform: uppercase;
      font-size: $font-size-small !important;
      &.button {
        background-color: transparent !important;
        border: none !important;
      }

      &:hover {
        color: $foreground-primary;
      }

      &:not(:hover) {
        color: $foreground-secondary;
      }
    }
  }
}

.home #home[route="home"] {
  font-size: 0 !important;
  color: transparent !important;
}
